html {
    height: 100%;
}
header {
    background-color: #FF7340;
}
body {
    background-image: url("../images/red-pentagram-dark.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-color: #E0E0E0;
}
#main {
    background-color: white;
}
#container {
    padding: 20px;
}
